:root {
    --h1-size: 3.5rem;
    --h1-weight: 600;
    --h2-size: 2.5rem;
    --h2-weight: 600;
    --h3-size: 1.5rem;
    --h3-weight: 600;
    --p-size: 1rem;
    --p-weight: 400;
    --primary-color: #bcbec8;
    --primary-color-2: #d6dbe4;
    --secondary-color: #231123;
    --secondary-color-2: #564B5A;
    --primary-bg-color: #eff7ff;
    --secondary-bg-color: #E3E9F2;
    --line-color: #555555;
    --back-color: #bcbec898;
}

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    background-color: var(--secondary-bg-color);
}


h1 {
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
    line-height: 1.5;
    color: var(--secondary-color);
}

h2 {
    font-size: var(--h2-size);
    font-weight: var(--h2-weight);
    line-height: 1.3;
    color: var(--secondary-color-2);
}

h3 {
    font-size: var(--h3-size);
    font-weight: var(--h3-weight);
    line-height: 1.3;
    color: var(--secondary-color-2);
}

p {
    font-size: var(--p-size);
    font-weight: var(--p-weight);
    line-height: 1.5;
    color: var(--secondary-color-2);
}



nav {
    background-color: var(--primary-color-2);
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 10vh;
    width: 100%;
    z-index: 999;
    align-items: center;
}

nav img {
    height: 130px;
    width: auto;
    margin-left: 25px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li a {
    margin-right: 30px;
    font-size: 20px;
    color: var(--secondary-color);
}

nav ul li a:hover {
    color: var(--primary-bg-color);
    text-shadow: 0px -10px 30px black,
        0px -20px 150px black,
        0px -30px 160px black;
}

main {
    background-color: var(--secondary-bg-color);
}

.container {
    margin: 0 30px;
    padding: 0 20px;
}

#hero {
    display: flex;
    align-items: center;
    height: 90vh;
}


.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.hero-image {
    height: 100%;
    width: auto;

}

.hero-image img {
    height: 100%;
    width: auto;
}

.hero-content .hero-align {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hero-text {
    flex: 70%;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.hero-text p {
    padding: 20px;
}

.button {
    position: relative;
    z-index: 0;
    width: 240px;
    height: 56px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: var(--line-color);
    letter-spacing: 2px;
    transition: all .3s ease;
}

.button-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.button::before,
.button::after,
.button-text::before,
.button-text::after {
    content: '';
    position: absolute;
    height: 3px;
    border-radius: 2px;
    background: var(--line-color);
    transition: all .5s ease;
}

.button::before {
    top: 0;
    left: 54px;
    width: calc(100% - 56px * 2 - 16px);
}

.button::after {
    top: 0;
    right: 54px;
    width: 8px;
}

.button-text::before {
    bottom: 0;
    right: 54px;
    width: calc(100% - 56px * 2 - 16px);
}

.button-text::after {
    bottom: 0;
    left: 54px;
    width: 8px;
}

.button-line {
    position: absolute;
    top: 0;
    width: 56px;
    height: 100%;
    overflow: hidden;
}

.button-line::before {
    content: '';
    position: absolute;
    top: 0;
    width: 150%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 300px;
    border: solid 3px var(--line-color);
}

.button-line:nth-child(1),
.button-line:nth-child(1)::before {
    left: 0;
}

.button-line:nth-child(2),
.button-line:nth-child(2)::before {
    right: 0;
}

.button:hover {
    letter-spacing: 6px;
}

.button:hover::before,
.button:hover .button-text::before {
    width: 8px;
}

.button:hover::after,
.button:hover .button-text::after {
    width: calc(100% - 56px * 2 - 16px);
}

.button-drow1,
.button-drow2 {
    position: absolute;
    z-index: -1;
    border-radius: 16px;
    transform-origin: 16px 16px;
}

.button-drow1 {
    top: -16px;
    left: 40px;
    width: 32px;
    height: 0;
    transform: rotate(30deg);
}

.button-drow2 {
    top: 44px;
    left: 77px;
    width: 32px;
    height: 0;
    transform: rotate(-127deg);
}

.button-drow1::before,
.button-drow1::after,
.button-drow2::before,
.button-drow2::after {
    content: '';
    position: absolute;
}

.button-drow1::before {
    bottom: 0;
    left: 0;
    width: 0;
    height: 32px;
    border-radius: 16px;
    transform-origin: 16px 16px;
    transform: rotate(-60deg);
}

.button-drow1::after {
    top: -10px;
    left: 45px;
    width: 0;
    height: 32px;
    border-radius: 16px;
    transform-origin: 16px 16px;
    transform: rotate(69deg);
}

.button-drow2::before {
    bottom: 0;
    left: 0;
    width: 0;
    height: 32px;
    border-radius: 16px;
    transform-origin: 16px 16px;
    transform: rotate(-146deg);
}

.button-drow2::after {
    bottom: 26px;
    left: -40px;
    width: 0;
    height: 32px;
    border-radius: 16px;
    transform-origin: 16px 16px;
    transform: rotate(-262deg);
}

.button-drow1,
.button-drow1::before,
.button-drow1::after,
.button-drow2,
.button-drow2::before,
.button-drow2::after {
    background: var(--back-color);
}

.button:hover .button-drow1 {
    animation: drow1 ease-in .06s;
    animation-fill-mode: forwards;
}

.button:hover .button-drow1::before {
    animation: drow2 linear .08s .06s;
    animation-fill-mode: forwards;
}

.button:hover .button-drow1::after {
    animation: drow3 linear .03s .14s;
    animation-fill-mode: forwards;
}

.button:hover .button-drow2 {
    animation: drow4 linear .06s .2s;
    animation-fill-mode: forwards;
}

.button:hover .button-drow2::before {
    animation: drow3 linear .03s .26s;
    animation-fill-mode: forwards;
}

.button:hover .button-drow2::after {
    animation: drow5 linear .06s .32s;
    animation-fill-mode: forwards;
}

@keyframes drow1 {
    0% {
        height: 0;
    }

    100% {
        height: 100px;
    }
}

@keyframes drow2 {
    0% {
        width: 0;
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    11% {
        opacity: 1;
    }

    100% {
        width: 120px;
    }
}

@keyframes drow3 {
    0% {
        width: 0;
    }

    100% {
        width: 80px;
    }
}

@keyframes drow4 {
    0% {
        height: 0;
    }

    100% {
        height: 120px;
    }
}

@keyframes drow5 {
    0% {
        width: 0;
    }

    100% {
        width: 124px;
    }
}


#features {
    background: var(--secondary-color-2);
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#features h2 {
    text-align: center;
    padding: 20px;
    color: #E3E9F2;
}

.features-card {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.features-card .card {
    position: relative;
    cursor: pointer;
}

.features-card .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;

}

.features-card .card .face.face1 {
    position: relative;
    background: #564b5a;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.features-card .card:hover .face.face1 {
    background: #231123;
    transform: translateY(0);
}

.features-card .card .face.face1 .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    transition: 0.5s;
}

.features-card .card:hover .face.face1 .content {
    opacity: 1;
}

.features-card .card .face.face1 .content img {
    max-width: 100px;
}

.features-card .card .face.face1 .content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.features-card .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.features-card .card:hover .face.face2 {
    transform: translateY(0);
}

.features-card .card .face.face2 .content p {
    margin: 0;
    padding: 0;
}

.features-card .card .face.face2 .content a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.features-card .card .face.face2 .content a:hover {
    background: #231123;
    color: #fff;
}

#team h2 {
    text-align: center;
    padding: 60px;

}

.team-cards {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    padding-bottom: 120px;
}


.team-card {
    --blur: 16px;
    --size: clamp(200px, 50vmin, 300px);
    height: 400px;
    width: var(--size);
    aspect-ratio: 4 / 3;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    color: #000;
    transform: translateZ(0);
}

.team-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(calc(1 + (var(--hover, 0) * 0.25))) rotate(calc(var(--hover, 0) * -5deg));
    transition: transform 0.2s;
}

.team-card-footer {
    padding: 0 1.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    gap: 0.5ch;
    background: hsl(0 0% 100% / 0.5);
    backdrop-filter: blur(var(--blur));
    height: 20%;
    align-content: center;
}

.team-card-action {
    position: absolute;
    aspect-ratio: 1;
    width: calc(var(--size) * 0.15);
    bottom: 30%;
    right: 1.5rem;
    transform: translateY(50%) translateY(calc((var(--size) * 0.65))) translateY(calc(var(--hover, 0) * (var(--size) * -0.4)));
    background: purple;
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
    background: hsl(0 0% 100% / 0.5);
    /*   backdrop-filter: blur(calc(var(--blur) * 0.5)); */
    transition: transform 0.2s;
}

.team-card-action svg {
    aspect-ratio: 1;
    width: 50%;
}

.team-card-footer span:nth-of-type(1) {
    font-size: calc(var(--size) * 0.07);
    color: var(--secondary-color);
}

.team-card-footer span:nth-of-type(2) {
    font-size: calc(var(--size) * 0.04);
    color: var(--secondary-color);
}

.team-card:is(:hover, :focus-visible) {
    --hover: 1;
}

#gallery {
    background-color: #ffffff;
}

#gallery h2 {
    text-align: center;
    padding: 60px;
}

.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
    padding-bottom: 120px;
}

.item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;

    &:hover {
        flex: 7;
    }
}

.item-1 {
    background-image: url('/src/images/tattoo5.jpg');
}

.item-2 {
    background-image: url('/src/images/tattoo4.jpg');
}

.item-3 {
    background-image: url('/src/images/tattoo6.jpg');
}

.item-4 {
    background-image: url('/src/images/tattoo3.jpg');
}

.item-5 {
    background-image: url('/src/images/tattoo10.jpg');
}



#testimonials {
    text-align: center;
    justify-content: center;
    padding-bottom: 120px;
}

#testimonials h2 {
    padding: 60px;
}



.testimonial-post {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 10px;
    height: 460px;
    width: 310px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

}

.testimonial-post * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.testimonial-post p {
    color: #ffffff;
}

.testimonial-post img {
    max-width: 100%;
    vertical-align: top;
    opacity: 0.25;
}

.testimonial-post figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 80px 10% 15%;
}

.testimonial-post figcaption:before {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 170px;
    opacity: 0.35;
    font-style: normal;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0px;
    left: 50%;
}

.testimonial-post blockquote {
    margin: 0;
    font-style: italic;
    font-size: 1.2em;
    padding-top: 60px;
    padding-bottom: 20px;
}

.testimonial-post h3 {
    font-family: 'Oswald';
    color: #eff7ff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 3px 0;
}

.testimonial-post h5 {
    font-weight: 400;
    margin: 0;
    color: #bbb;
    letter-spacing: 1px;
}

#address{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#address h2 {
    text-align: center;
    padding: 60px;
}

#address .map{
    padding-bottom: 120px;
}

#contact {
    border: solid 3px #474544;
    max-width: 768px;
    margin: 60px auto;
    position: relative;
    margin-top: 120px;
    margin-bottom: 120px;
}

form {
    padding: 37.5px;
    margin: 50px 0;
}

h1 {
    color: #474544;
    padding: 0.5em;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
}

.underline {
    border-bottom: solid 2px #474544;
    margin: 0.1em auto;
    width: 80px;
}


.email {
    float: right;
    width: 45%;
}

input[type='text'],
[type='email'],
select,
textarea {
    background: none;
    border: none;
    border-bottom: solid 2px #474544;
    color: #474544;
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    text-transform: uppercase;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

input[type='text']:focus,
[type='email']:focus,
textarea:focus {
    outline: none;
    padding: 0 0 0.875em 0;
}

.message {
    float: none;
}

.name {
    float: left;
    width: 45%;
}

select {
    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

select::-ms-expand {
    display: none;
}

.subject {
    width: 100%;
}

.telephone {
    width: 100%;
}

textarea {
    line-height: 150%;
    height: 150px;
    resize: none;
    width: 100%;
}

::-webkit-input-placeholder {
    color: #474544;
}

:-moz-placeholder {
    color: #474544;
    opacity: 1;
}

::-moz-placeholder {
    color: #474544;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #474544;
}

#form_button {
    background: none;
    border: solid 2px #474544;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#form_button:hover {
    background: #474544;
    color: #F2F3EB;
}

footer{
    background-color: #231123;
    padding-top: 60px;
}

footer h3{
    text-align: center;
    color: var(--primary-bg-color);
    padding: 40px;
}
.social-links{
    display: flex;
    justify-content: center;
    justify-items: center
}

.social-links img{
    height: 45px;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .menu-items {
        display: none;
        flex-direction: column;
        background-color: #474544;
        position: absolute;
        top: 10vh;
        width: 100%;
        text-align: center;
    }

    .menu-items li {
        margin-top: 10px;
    }

    .menu-toggle {
        display: block;
        color: var(--secondary-color);
        font-size: 24px;
        cursor: pointer;
    }

    .features-card {
        flex-direction: column;
        align-items: center;
    }

.team-cards{
    flex-wrap: wrap;
    gap: 20px;
}

    #contact {
        margin: 20px auto;
        width: 95%;
    }

}


@media screen and (max-width: 480px) {
    h1 {
        font-size: 26px;
    }

    .underline {
        width: 68px;
    }

    .features-card {
        width: 90%;
    }

    .features-card .card {
        width: 100%;
        margin-bottom: 20px;
    }

    #form_button {
        padding: 15px 25px;
    }
}

@media screen and (max-width: 420px) {
    h1 {
        font-size: 18px;
    }

    .features-card .card {
        width: calc(100% - 20px);
        margin-bottom: 20px;
    }

    .icon {
        height: 35px;
        width: 35px;
    }

    .underline {
        width: 53px;
    }

    input[type='text'],
    [type='email'],
    select,
    textarea {
        font-size: 0.875em;
    }
}